[submodule ".config/mpv/script_modules/mpvSockets"]
	path = .config/mpv/script_modules/mpvSockets
	url = https://github.com/wis/mpvSockets.git
[submodule ".config/mpv/scripts/mpv_sponsorblock"]
	path = .config/mpv/scripts/mpv_sponsorblock
	url = https://github.com/po5/mpv_sponsorblock.git
